<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="css.com.applab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- .activitys.ChartViewActivity -->
        <activity android:name=".activitys.ChartViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.DrawCircleLineActivity" />
        <activity android:name=".activitys.CustomLayoutActivity" />
        <activity android:name=".activitys.BezierCurveActivity" />
        <activity android:name=".activitys.CustomDragGroupActivity" />
        <activity android:name=".activitys.RedGreenActivity" />
        <activity android:name=".activitys.GridViewPagerActivity" />
        <activity android:name=".activitys.HorizontalGridViewActivity" />
        <activity android:name=".activitys.LifeCycleActivity" />
        <activity android:name=".activitys.CirCleActivity" />
        <activity android:name=".activitys.ConstraintActivity" />
        <activity android:name=".leakcheck.LeakStartActivity" />
        <activity android:name=".leakcheck.LeakActivity" />
        <activity android:name=".fragmentcannotshowbug.BugMainActivity" />
        <activity
            android:name=".activitys.UilibLoadActivity"
            android:label="@string/title_activity_bug_main" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activitys.Rxjava2RuntimeActivity" />
        <activity
            android:name=".activitys.StringformatActivity"
            android:label="@string/title_activity_stringformat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.CutDownTvActivity" />
        <activity android:name=".activitys.SeekBarActivity" />
        <activity android:name=".activitys.ContextMenuActivity"></activity>
    </application>

</manifest>